<h1>Things</h1>

<table class="table table-hover">
  <colgroup span="4">
    <col>
    <col span="3" style="width: 5%; text-align: center;">
  </colgroup>
  <thead>
    <tr>
      <th>Name</th>
      <% if can?(:read, Thing) || can?(:update, Thing) || can?(:destroy, Thing) %>
        <th colspan="3" class="action">Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @things.each do |thing| %>
      <tr>
        <td><%= thing.name %></td>
        <% if can? :read, thing %>
          <td class="action">
            <%= link_to 'Show', thing %>
          </td>
        <% end %>
        <% if can? :update, thing %>
          <td class="action">
            <%= link_to 'Edit', edit_thing_path(thing) %>
          </td>
        <% end %>
        <% if can? :destroy, thing %>
          <td class="action">
            <%= link_to 'Destroy', thing, method: :delete, data: { confirm: "Are you sure you want to destroy #{thing.name}?" } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thing', new_thing_path if can? :create, Thing %>
